OWW_SMTP_HOST=smtp.gmail.com
OWW_SMTP_PORT=587
OWW_SMTP_USER=shoponewishwillow@gmail.com
OWW_SMTP_PASS=your_gmail_app_password_here
OWW_FROM_EMAIL=shoponewishwillow@gmail.com
OWW_FROM_NAME=ONE WISH WILLOW
OWW_ADMIN_EMAIL=onewillowish@gmail.com
OWW_PUBLIC_BASE_URL=http://10.0.0.7:4180
OWW_ADMIN_PASSWORD=change-this-before-launch
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
PORT=4180
HOST=0.0.0.0
